.fa-heart {
  color: black;
}

.heart-red {
  color: red;
  animation: bounce 0.5s;
  transform: scale(1);
}

@keyframes bounce {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
  }
}
