.item {
  position: relative;
  padding: 8px 15px;
}
.avatar {
  position: absolute;
}
.avatar img {
  border-radius: 50px;
}
.time {
  position: relative;
  padding-left: 40px;
  font-size: 11px;
  top: 00px;
}
.item p {
  font-size: 13px;
  line-height: 12px;
  margin-top: 0px;
  margin-left: 40px;
}
