.item {
  position: relative;
  margin: 8px 15px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, 0.16),
    0 2px 4px 0 rgba(17, 22, 26, 0.08), 0 4px 8px 0 rgba(17, 22, 26, 0.08);
}
.avatar {
  position: absolute;
}
.avatar img {
  border-radius: 50px;
}
.time {
  position: relative;
  padding-left: 40px;
  font-size: 11px;
  top: 00px;
  color: grey;
}
.item p {
  font-size: 13px;
  line-height: 12px;
  margin-top: 0px;
  margin-left: 40px;
}
